Flask
mongoengine
python-dotenv
bcrypt
flask-cors
flask-jwt-extended
Flask-Mail
cloudinary
python-slugify
numpy
requests
opencv-python
opencv-contrib-python
matplotlib
scipy
Pillow

torch
torchvision
torchaudio

transformers
sentencepiece
accelerate

tqdm

jupyter
notebook

sentence-transformers
faiss-cpu
pandas
google-generativeai
google-genai
