numpy
opencv-python
opencv-contrib-python
matplotlib
scipy
Pillow

torch
torchvision
torchaudio

transformers
sentencepiece
accelerate

tqdm
requests

jupyter
notebook

sentence-transformers
faiss-cpu
python-dotenv
pandas
google-generativeai
google-genai
